.nav-link {
  color: #999 !important;
  font-family: Varela Round,arial,sans-seri;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400 !important;
  font-style: normal;
}

.navbar-container:after {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  border-bottom: 2px solid #ddd;
  padding-right: var(--bs-gutter-x, 0.75rem) !important;
  padding-left: var(--bs-gutter-x, 0.75rem);
}

.navbar {
  box-shadow: none !important;
}

@media (max-width: 990px) {
  .navbar-container:after {
    width: calc(100% - 1.5rem);
  }
}

@media (min-width: 991px) {
  .navbar-container:after {
    width: 95%;
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.row {
  justify-content: space-around;
}

@media (min-width: 768px) {
  .portfolio-block {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}

.portfolio-block.project .image {
  background-repeat: round;
}

.project_image {
  max-width: 80%;
  vertical-align: middle;
}

.project_image_container {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project_info_header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.description_row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}

.project_info p {
  font-family: forum, serif;
  font-weight: 400;
  font-size: 18px;
  font-stretch: 100%;
  line-height: 27px;
  text-align: justify;
}

.project_info li {
  font-family: forum, serif;
  font-weight: 400;
  font-size: 18px;
  font-stretch: 100%;
  line-height: 27px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

.farm_md_image_container {
  display: flex;
  justify-content: space-around;
}

.farm_md_image_container img {
  width: 20%;
}

.project-tag {
  margin-left: 2px;
  margin-right: 2px;
  color: var(--bs-primary);
  border-color: var(--bs-primary) !important;
}

.card-img-top {
  box-shadow: none !important;
  aspect-ratio: 1.5;
}

.card.scale-on-hover {
  transition: .5s ease;
  border-radius: 0.75rem !important;
}

.nav-link.active, .navbar-brand.active {
  border-bottom: 1px solid var(--bs-emphasis-color) !important;
  border-width: 1px !important;
  color: black !important;
}

.nav-link:hover {
  color: black !important;
}

.project_info h4 {
  margin-top: 20px;
}

.avatar {
  height: 250px !important;
  width: 250px !important;
  border-radius: 200px !important;
}

.navbar-brand {
  cursor: pointer;
}

.portfolio-block.cv .group .college {
  font-size: .85em;
  background-color: var(--bs-success);
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

